<div class="top-header">
    <div class="left-section">
        <img src="/images/logo.jpeg" alt="Government Logo">
    </div>
    <div class="right-section">
        <div class="contact-info">
            <div class="contact-box">
                <p>Women Helpline Number</p>
                <span>1800-11-9292</span>
            </div>
            <div class="contact-box">
                <p>For Emergency</p>
                <span>112</span>
            </div>
        </div>
        <a href="/login" class="login-btn" >Login</a>
        <a href="/logout" class="login-btn" >Logout</a>
    </div>
</div>


<header>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/sashaktsathi">Home</a></li>
                <li><a href="/aboutus" >About Us</a></li>
                <li><a href="/safeinsight" target="_blank">Safe Insight Quiz</a></li>                    
                <li><a href="/legalrights" >Legal Rights</a></li>                    
                <li><a href="wellnessQuiz.html" target="_blank">Wellness Quiz</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#dashboard">Dashboard</a></li>
            </ul>
        </nav>
        <div class="search">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
    </div>
</header>