<% layout('layouts/boilerplate')%>
<%- include('../partials/navbar')%>

<main class="container my-5">
    <div class="aboutus">
        <h1 class=" about mb-4">About Us</h1>
    </div>        

    <div class="row mb-4">
        <div class="col-md-6">
            <img src="images/empower.jpeg" alt="Empowering Women" class="img-fluid mb-3">
        </div>
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>At  <Strong>SASHAKT SAATHI</Strong>,  our mission is to empower women by providing them with the knowledge and resources they need to protect themselves from various forms of abuse. We strive to create a safe and informed community where women can access crucial information about their legal rights and the laws that protect them.</p>
            <p>We have the broad objectives of either protecting or assisting women who are victims of violence or in difficult circumstances or for empowering women.</p>
            <p>Our commitment is to not only educate but also to inspire women to take action, seek help, and stand up for their rights.</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class=" legal col-md-6 order-md-2">
            <img src="images/legal.png" alt="Legal Support" class="img-fluid mb-3">
        </div>
        <div class="col-md-6">
            <h2>What We Do</h2>
            <p>We offer comprehensive education on different types of abuse, including domestic violence, sexual harassment, and emotional abuse. Our platform provides detailed explanations of relevant legal laws and rights, and we aim to equip women with the tools they need to seek justice and support. Through interactive content, resources, and expert advice, we empower women to stand up for themselves and seek the help they need.</p>
        </div>
    </div>

    <div class="row">
        <div class=" community col-md-6">
            <img src="images/img-transformed.jpeg" alt="Community and Support" class="img-fluid mb-3">
        </div>
        <div class="col-md-6">
            <h2>Join Our Community</h2>
            <p>By joining our community, you become part of a supportive network dedicated to women's rights and empowerment. We encourage you to explore our resources, participate in our programs, and share your voice. Together, we can make a difference and work towards a world where every woman feels safe, respected, and empowered.</p>
        </div>
    </div>
</main>