<% layout('layouts/boilerplate')%>
<%- include('../partials/navbar')%>


<div class="container py-5">
    <h1 class="text-center mb-4">Questionnaire</h1>

    <form id="abuseForm" class="row justify-content-center g-4">
        <!-- Card for Age Group -->
        <div class="col-md-4">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="ageGroup" class="form-label">Age Group</label>
                    <select class="form-select form-select-lg mb-3" id="ageGroup" name="ageGroup">
                        <option value="" disabled selected>Please choose</option>
                        <option value="18-24">18-24</option>
                        <option value="25-34">25-34</option>
                        <option value="35-44">35-44</option>
                        <option value="45-54">45-54</option>
                        <option value="55-64">55-64</option>
                        <option value="65+">65+</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Card for Marital Status -->
        <div class="col-md-4">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="maritalStatus" class="abuse-label form-label">Marital Status</label>
                    <select class="form-select form-select-lg mb-3" id="maritalStatus" name="maritalStatus">
                        <option value="" disabled selected>Please choose</option>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="widowed">Widowed</option>
                        <option value="divorced">Divorced</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Card for Employment Status -->
        <div class="col-md-4">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="employmentStatus" class="abuse-label form-label">Employment Status</label>
                    <select class="form-select form-select-lg mb-3" id="employmentStatus" name="employmentStatus">
                        <option value="" disabled selected>Please choose</option>
                        <option value="student">Student</option>
                        <option value="employed">Employed</option>
                        <option value="unemployed">Unemployed</option>
                        <option value="retired">Retired</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Card for Physical Harm Question -->
        <div class="col-12 hello">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="physicalHarm1" class="abuse-label form-label">Have you been physically harmed or threatened?</label><br>
                    <input type="radio" id="physicalHarm1Yes" name="physicalHarm1" value="yes">
                    <label for="physicalHarm1Yes">Yes</label><br>
                    <input type="radio" id="physicalHarm1No" name="physicalHarm1" value="no">
                    <label for="physicalHarm1No">No</label>
                </div>
            </div>
        </div>
        <div class="col-12 hello"></div>
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="controlFeeling" class="abuse-label form-label">Do you feel controlled, isolated, or frequently insulted by someone?</label><br>
                    <input type="radio" id="controlFeelingYes" name="controlFeeling" value="yes">
                    <label for="controlFeelingYes">Yes</label><br>
                    <input type="radio" id="controlFeelingNo" name="controlFeeling" value="no">
                    <label for="controlFeelingNo">No</label>
                </div>
            </div>
        </div>
        
        <div class="col-12 hello">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="sexualAdvances" class="abuse-label form-label">Have you experienced unwanted sexual advances or been forced into sexual activities?</label><br>
                    <input type="radio" id="sexualAdvancesYes" name="sexualAdvances" value="yes">
                    <label for="sexualAdvancesYes">Yes</label><br>
                    <input type="radio" id="sexualAdvancesNo" name="sexualAdvances" value="no">
                    <label for="sexualAdvancesNo">No</label>
                </div>
            </div>
        </div>
        
        <div class="col-12 hello">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="financeControl" class="abuse-label form-label">Is someone controlling your finances or restricting your access to money?</label><br>
                    <input type="radio" id="financeControlYes" name="financeControl" value="yes">
                    <label for="financeControlYes">Yes</label><br>
                    <input type="radio" id="financeControlNo" name="financeControl" value="no">
                    <label for="financeControlNo">No</label>
                </div>
            </div>
        </div>
        
        <div class="col-12 hello">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="onlineHarassment" class="abuse-label form-label">Are you being harassed, monitored, or threatened online?</label><br>
                    <input type="radio" id="onlineHarassmentYes" name="onlineHarassment" value="yes">
                    <label for="onlineHarassmentYes">Yes</label><br>
                    <input type="radio" id="onlineHarassmentNo" name="onlineHarassment" value="no">
                    <label for="onlineHarassmentNo">No</label>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="workplaceHarassment" class="abuse-label form-label">Have you been subjected to unwanted advances, comments, or discrimination at work?</label><br>
                    <input type="radio" id="workplaceHarassmentYes" name="workplaceHarassment" value="yes">
                    <label for="workplaceHarassmentYes">Yes</label><br>
                    <input type="radio" id="workplaceHarassmentNo" name="workplaceHarassment" value="no">
                    <label for="workplaceHarassmentNo">No</label>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="partnerThreat" class="abuse-label form-label">Do you feel unsafe or threatened by your partner?</label><br>
                    <input type="radio" id="partnerThreatYes" name="partnerThreat" value="yes">
                    <label for="partnerThreatYes">Yes</label><br>
                    <input type="radio" id="partnerThreatNo" name="partnerThreat" value="no">
                    <label for="partnerThreatNo">No</label>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="card uniform-card abuse" id="form-card">
                <div class="card-body">
                    <label for="stalking" class="abuse-label form-label">Is someone following you, showing up at your places, or constantly contacting you against your will?</label><br>
                    <input type="radio" id="stalkingYes" name="stalking" value="yes">
                    <label for="stalkingYes">Yes</label><br>
                    <input type="radio" id="stalkingNo" name="stalking" value="no">
                    <label for="stalkingNo">No</label>
                </div>
            </div>
        </div>
        
        <!-- Additional Questions -->
        <!-- Include additional questions as you have listed -->

        <!-- Submit Button in a separate card -->
        <div class="text-center p-4" id="form-card">
            <button type="submit" class="btn btn-warning btn-lg w-100">Submit</button>
        </div>
    </form>

    <div id="result" class="alert alert-info mt-4 text-center" style="display: none;">
        <h4 id="abuseType"></h4>
        <p id="recommendedSteps"></p>
    </div>
</div>
 <!-- Abuse Buttons -->
 <div>
    <button id="physicalAbuse" style="display:none;">Physical Abuse</button>
    <button id="emotionalAbuse" style="display:none;">Emotional Abuse</button>
    <button id="sexualAbuse" style="display:none;">Sexual Abuse</button>
    <button id="financialAbuse" style="display:none;">Financial Abuse</button>
    <button id="cyberAbuse" style="display:none;">Cyber Abuse</button>
    <button id="workplaceAbuse" style="display:none;">Workplace Abuse</button>
    <button id="stalkingAbuse" style="display:none;">Stalking</button>
  </div>




